*.pyc
*.swp
*.swa
*.swo
*.*~
*.egg-info
*.log
*.sqlite3
.vagrant/
.directory
local_settings.py
.idea/
/media/
/static/
uploads/
.env.dev
.env.local
.local.dev
data/
.DS_Store
celerybeat-schedule
*.mo
*.csv
.env
tags
